.booking-container {
  width: 900px;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-y: scroll;
}

.booking-edit {
  width: 50%;
}

.booking-edit form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.booking-edit .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.booking-edit .name input:first-child {
  margin: 0 5px 10px 0;
}

.booking-edit .name input:last-child {
  margin: 0 0 10px 5px;
}

.booking-container ul {
  width: 50%;
  border-left: 1px solid #3b82f680;
  margin: 0;
  padding: 0;
  list-style: none;
}

.booking-container ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 30px;
  text-align: left;
  border-bottom: 1px solid #3b82f680;
}
.booking-container ul li:hover {
  background-color: #3b82f680;
}

.booking-container ul li div {
  width: 100%;
}

.booking-container ul li p {
  margin: 0;
}
.booking-container ul li svg:hover {
  stroke: #fe4d4d;
}
